.accommodations{
     padding: 70px 0 100px;
     position: relative;
     &__all{
         @include btn;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: 20px;
         border: none;
         outline: none;
         overflow-anchor: none;
     }
}
.accommodations-item {
        
    max-width: 555px;
    height: 337px;
    margin: 0 0 30px;
    position: relative;
    width:100%;
    border-radius: 10px;
		&__title {
            @include title;

		}

	

		&__subtitle {
            font-family: 'Roboto', sans-serif;
            max-width: 90%;
            font-weight: 300;
            line-height: 160%;
            opacity: 0.7;
            font-size: 19px;
            max-height: 90%;
		}
        &__wrapper{
            background: rgba(226, 226, 226, 0.4);
            backdrop-filter: blur(20px);
            padding: 20px 25px;
            border-radius: 10px;
            border-top-left-radius:0;
            position: absolute;
            bottom: 0;
            color: $text-color;
            display: inline-block;
           
            &__title{
                display: inline-block;
                font-weight: 500;
                margin:0 33px 15px 0;

            }
            &__price{
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 16px;
                opacity: 0.8;
                span{
                    font-size: 18px;
                }
            }
            &__btn{
                display: block;
               @include btn;
               padding:12px 0;
               font-size: 16px;
               width: 105px;
               text-align: center;
               pointer-events: none;
               
            }
           
        }
    
}

