*{
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
    margin: 0;
    padding: 0;
   
}

body{
    width: 100%;
    font-size: 18px;
}

@import 'var';
@import 'mixin';
@import 'header';
@import 'banner';
@import 'holidays';
@import 'advantages';
@import 'accommodations';
@import 'reviews';
@import 'connect';
@import 'gellary';
@import 'footer';
@import 'preloader';
@import 'media';



